@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.main {
  padding: 2rem 0;

  @for $i from 1 through 3 {
    & > *:nth-child(#{$i}) {
      opacity: 0;
      @include fade-in(0.5s, $i * 0.2s);
    }
  }

  & > *:not(:last-child) {
    margin-bottom: 4rem;
  }

  .section-content,
  .article {
    max-width: 68rem;
    margin: 0 auto;
    margin-bottom: 6rem;
    @include multiplier("max-width", 68rem, $genQs);
    @include multiplier("margin-bottom", 8rem, $genQs);
  }

  .article {
    table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
    }

    thead tr {
      border-bottom: 1px solid $dark-200;
      border-collapse: collapse;
    }

    th {
      color: $dark-600;
      font-weight: 600;
      font-size: $base-text;
    }

    th,
    td {
      padding: 1rem 0;
      text-align: left;
    }

    td {
      color: $dark-500;
    }

    h1,
    h2,
    h3,
    h4 {
      font-size: inherit;
      color: inherit;
      margin-top: 3rem;
      margin-bottom: 2rem;
      font-weight: 600;
      color: $dark-600;
    }

    h1 {
      font-size: $iv-text;
    }

    h2 {
      font-size: $xl-text;
    }

    h3 {
      font-size: $lg-text;
    }

    h4 {
      font-size: $md-text;
      font-weight: 500;
    }

    p,
    li {
      color: inherit;
      font-weight: 400;
      color: $dark-500;
      line-height: $lh-base;
      margin-bottom: 1rem;
    }

    ul,
    ol {
      padding-left: 3rem;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    p,
    li,
    a,
    td {
      font-size: $base-text;
    }

    a {
      @include link();
    }

    pre code {
      border-radius: 0.625rem;
      font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        Liberation Mono, Courier New, monospace;
      margin: 0 0 $sm-space;
      overflow: auto;
      padding: $sm-space;
      font-size: $sm-text;
      line-height: 1.5;
      scrollbar-width: thin;
    }
  }
}
