@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.socials {
  display: grid;
  align-items: center;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(3, 2rem);
   @include multiplier("grid-gap", 1.5rem, $genQs);

  &__link {
    text-decoration: none;
  }

  &__icon {
    height: 1.8rem;
    width: 1.8rem;
    fill: $dark-600;
    transition: transform 0.3s ease;

    @media only screen and (min-width: $bp-lg) {
      height: 2rem;
      width: 2rem;
    }

    @include multiplier("height", 2rem, $genQs);
    @include multiplier("width", 2rem, $genQs);
  }

  @media only screen and (min-width: $bp-lg) {
    &__link:hover &__icon {
      transform: translateY(-0.5rem);
    }
  }
}
