@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.flex {
  display: flex;
}

.fd-c {
  flex-direction: column;
}

.fd-c--md {
  @include breakpoints(mq-md) {
    flex-direction: column;
  }
}

.flex--md {
  @include breakpoints(mq-md) {
    display: flex;
  }
}

.block {
  display: block;
}

.capitalized {
  text-transform: capitalize;
}

.dot {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  background: $dark-600;
}

@for $i from 1 through 10 {
  .mb-#{$i} {
    margin-bottom: #{$i}rem;
  }
  .ml-#{$i} {
    margin-left: #{$i}rem;
  }
}

.link {
  @include link();
}
