@use '../abstract/variables' as *;
@use "sass:map";

@mixin breakpoints($value){
    $my-map: map.get($breakpoints, $value );
    @if $my-map{
        @media (#{$my-map}) {
            @content;
        }
    }@else{
        @error "Oops, the breakpoint #{$value} does not exist";
    }
}

@mixin hideScrollBar{
    
    /* Firefox */
    scrollbar-width: none;
    /* IE 10+ */
    -ms-overflow-style: none;
  
    /* Chrome/Safari/Webkit */
    &::-webkit-scrollbar {
      background: transparent;
      width: 0;
    }
  }


$selected: ("mq-low":1.1,"mq-xxs":1.2, "mq-xs":1.3, "mq-sm":1.4, "mq-md":1.8, "mq-lg":1.9, "mq-xl":2, "mq-2xl":2.1, "mq-3xl":2.2, "mq-4xl":2.3, "mq-5xl":2.4);

@mixin multiplier($prop, $val, $mqs){
    @each $q, $q-v in $mqs{
        @include breakpoints($q){
            #{$prop}: $val * $q-v;
        }
    }
}