extends base

block content 
  +header('', 'center-md')
    h1.heading.heading--primary Contact Me
    p.text.text--md.center-md.flex--md.fd-c--md 
      span Drop me a message and i'll get back to you shortly.