extends base

block helmet 
  +seo('Michael Otaigbe | Software Engineer', 'Software Engineer.', "software engineer, software developer, web developer", '/')

block content 
  +header('', 'padded-x')
    .greeting
      p.lead Hi 
      span.emoji 👋
    h1.heading.heading--primary.land
      span I&apos;m Michael.
      span.block A Software Engineer.
    p.text.text--md.lead With 4+ years of professional experience in ideating, 
      span.block architecting and building solutions for digital products.
      //- .box
      //-   .spinning-box
      //- .shadow
  section.section.container.container--sm
    .project__list
      each project in projects 
        +project(project)
  +cta()
