p.form__alert.success Message sent. I'll get back to you shortly.
form.form__contact#contact-form   
    input.form__input-text(type="text" name="name" id='name' placeholder='Name' autocomplete='on' required)
    input.form__input-text(type="email" name="email" id='email' placeholder='Email' autocomplete='on' required)
    textarea.form__input-text.textarea(name="message" rows="4" id='message' placeholder='Message' required)
    button.form__btn#contact-btn(type="submit") Send message