footer.footer
  .footer__content 
    p.text.text--sm Site developed with ❤ by me. &copy; Michky. #{new Date().getFullYear()}. 
    p.text.text--sm Inspired by 
     a.link.no-hvr.sm(href="https://eduardogomez.io/" target='_blank') Eduardo 
  include ./_socials.pug
